gems/
engine/
inference/
ros2_ws/install
ros2_ws/build
ros2_ws/src/packages
ros2_ws/log
ros2_ws/__pycache__
__pycache__/
monitoring/monitoring_results*
artifact_database.pkl
sim/backtrace.log
sim/imgui.ini
.env
.vscode/
*.egg-info
safety_agent_images/
safety_violations.json
imgui.ini
anomaly_images/
package_condition_images/
models/
